@model Baza_zapasow.Models.Stacje

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stacje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uwagi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uwagi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rodzaje_stacji.Rodzaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rodzaje_stacji.Rodzaj)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nr_stacji }) |
    @Html.ActionLink("Back to List", "Index")
</p>
